body {
    display: grid;
    grid-template-areas: 
    "aside header" /* Primeira linha */
    "aside main"; /* Segunda linha */
    grid-template-columns: auto 1fr; /* 1fr = 1 Fração de (total - aside) */
}

.cabecalho {
    grid-area: header;
}

.menu-lateral {
    grid-area: aside;
}

.principal {
    grid-area: main;
}